<a href="https://colab.research.google.com/github/cristiangodoyangel/pyhton-data-science/blob/main/Ejercicios_Machine_Learning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from sklearn.impute import SimpleImputer
import pandas as pd

data = pd.DataFrame({
    'Edad': [25, 30, None, 40],
    'Salario': [40000, None, 60000, 80000]
})

imputer = SimpleImputer(strategy='mean')
datos_completos = imputer.fit_transform(data)
print(datos_completos)

datos_completos_df = pd.DataFrame(datos_completos, columns=data.columns)
print(datos_completos_df)

[[2.50000000e+01 4.00000000e+04]
 [3.00000000e+01 6.00000000e+04]
 [3.16666667e+01 6.00000000e+04]
 [4.00000000e+01 8.00000000e+04]]
        Edad  Salario
0  25.000000  40000.0
1  30.000000  60000.0
2  31.666667  60000.0
3  40.000000  80000.0

In [10]:
import pandas as pd
import numpy as np
from sklearn.impute import SimpleImputer

# Crear el DataFrame con np.nan en lugar de None
data = pd.DataFrame({
    'Género': ['M', 'F', np.nan, 'F']
})

# Crear el imputador con estrategia 'most_frequent'
imputer = SimpleImputer(strategy='most_frequent')

# Aplicar imputación
datos_completos = imputer.fit_transform(data)

# Convertir el resultado a DataFrame con nombres de columnas originales
datos_completos_df = pd.DataFrame(datos_completos, columns=data.columns)

# Mostrar el resultado
print(datos_completos_df)

  Género
0      M
1      F
2      F
3      F

In [11]:
import pandas as pd
from sklearn.impute import SimpleImputer

df = pd.DataFrame({
    'Notas': [7, 5, None, 6, None],
    'Participación': [None, 80, 90, 70, 85]
})

imputer = SimpleImputer(strategy="mean")
datos_completos1 = imputer.fit_transform(df)
print(datos_completos1)

datos_completos1_df = pd.DataFrame(datos_completos1, columns=df.columns)
print(datos_completos1_df)

[[ 7.   81.25]
 [ 5.   80.  ]
 [ 6.   90.  ]
 [ 6.   70.  ]
 [ 6.   85.  ]]
   Notas  Participación
0    7.0          81.25
1    5.0          80.00
2    6.0          90.00
3    6.0          70.00
4    6.0          85.00